.jumbotron {
    background-image: url("./images/header.jpg");
    background-size: 125%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 15px solid rgb(34, 41, 7);
  }

.header{
    color: whitesmoke;
    text-shadow: 3px 3px 8px rgb(45, 7, 6);
    font-size: 75px;
    
}

.search {
    color: whitesmoke;
    text-shadow: 3px 3px 8px rgb(45, 7, 6);
    font-size: 25px;
}